<script src="/public/assets/require/require.js"></script><!--首先引入支持require.js-->
<script src="/public/js/config.js"></script><!--然后给所有js文件取别名-->
<script type="text/javascript">
    //   请求入口文件
require(['common'])
</script>





<!--<script src="/public/assets/jquery/jquery.min.js"></script>-->
<!--<script src="/public/assets/jquery-cookie/jquery.cookie.js"></script>-->
<!--<script src="/public/assets/bootstrap/js/bootstrap.min.js"></script>-->
<!--<script src="/public/assets/nprogress/nprogress.js"></script>-->
<!--<script src="/public/assets/echarts/echarts.min.js"></script>-->
<!--<script src="/public/js/common.js"></script>-->